<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhidev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.abhidev.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.abhidev.Activities.MainActivity" />
        <activity android:name="com.abhidev.Activities.MessageListActivity" />
        <activity android:name="com.abhidev.Activities.DialogFlowResultActivity" />
        <activity
            android:name="com.abhidev.Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.abhidev.Activities.Analysis.AnalysisActivity" />
        <activity android:name="com.abhidev.Activities.CourseLandingPage" />
        <activity android:name="com.abhidev.Internships.InternshipListActivity" />
        <activity android:name="com.abhidev.Activities.DialogFlow" />
        <activity
            android:name="com.abhidev.Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.abhidev.Activities.NotificationActivity" />
        <activity android:name="com.abhidev.Activities.SignUpActivity" />
        <activity android:name="com.abhidev.Exams.Activities.ExamsActivity" />
        <activity android:name="com.abhidev.Exams.Activities.ExamSubCategoryListActivity" />
        <activity android:name="com.abhidev.Activities.IntroActivity" />
        <activity android:name="com.abhidev.Activities.Recommendations" />
        <activity android:name="com.abhidev.Activities.ChatViewActivtity" />
        <activity android:name="com.abhidev.Activities.ExplanationActivityText" />

        <service android:name="com.abhidev.Activities.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.abhidev.Activities.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.abhidev.Activities.OptionsActivity"
            android:parentActivityName="com.abhidev.Activities.MainActivity" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.abhidev.Activities.AboutActivity" />
        <activity android:name="com.abhidev.Activities.PrivacyActivity" />
        <activity android:name="com.abhidev.Exams.Activities.ExamInstructionActivity" />
        <activity android:name="com.abhidev.Exams.Activities.ExamResultActivity" />
        <activity android:name="com.abhidev.HelpDesk.HelpDeskActivity" />
        <activity android:name="com.abhidev.ViewMore.TrendingUniversitiesActivity" />
        <activity android:name="com.abhidev.Activities.TestActivity" />
        <activity android:name="com.abhidev.Exams.Activities.ExplanationActivity" />
        <activity android:name="com.abhidev.ViewMore.TrendingCoursesActivity" />
        <activity android:name="com.abhidev.ViewMore.ShortTermCoursesActivity" />
        <activity android:name="com.abhidev.ViewMore.AmbassdorsActivity" />
        <activity android:name="com.abhidev.Activities.StepperActivity" />
        <activity android:name="com.abhidev.GameBrainBooster.MainActivity" />
        <activity android:name="com.abhidev.GameBrainBooster.GameBoosterOver" />
        <activity android:name="com.abhidev.game2.FlexibilityGame" />
        <activity android:name="com.abhidev.GameBrainBooster.EndActivity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level1Activity" />
        <activity android:name="com.abhidev.Activities.Analysis.YourEgogramSection" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level13Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level2Activity" />
        <activity android:name="com.abhidev.Activities.Analysis.SectionEndActivity" />
        <activity android:name="com.abhidev.assess.SectionSubCategoryListActivity"/>
        <activity android:name="com.abhidev.fourpicsoneword.VerbalAbilityGame" />
        <activity android:name="com.abhidev.fourpicsoneword.HintActivity" />
        <activity android:name="com.abhidev.game2.FlexibilityGameIntro" />
        <activity android:name="com.abhidev.assess.TestSeriesActivity" />
        <activity android:name="com.abhidev.Activities.Analysis.HandwritingSection" />
        <activity android:name="com.abhidev.Activities.Analysis.LifeChoicesSection" />
        <activity android:name="com.abhidev.Activities.Analysis.MeOrNotMeSection" />
        <activity android:name="com.abhidev.fourpicsoneword.VerbalAbilityIntroScreen" />
        <activity android:name="com.abhidev.Activities.WishlistFilterActivity" />
        <activity android:name="com.abhidev.mathGame.GameIntro" />
        <activity android:name="com.abhidev.mathGame.MathGame" />
        <activity android:name="com.abhidev.Activities.Analysis.DetailMenu"/>
        <activity android:name="com.abhidev.Activities.Analysis.CommSkillSection"/>
        <activity android:name="com.abhidev.Activities.Analysis.LogicalReasoningSection"/>
        <activity android:name="com.abhidev.Activities.CareerAssesmentStartActivity" />
        <activity android:name="com.abhidev.Activities.ExploreTagSearchActivity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level9Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level3Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level4Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level10Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level5Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level6Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level11Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level7Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level12Activity" />
        <activity android:name="com.abhidev.GameBrainBooster.Levels.Level8Activity" />
        <activity android:name="com.abhidev.Activities.FrameworkIntroScreenActivity" />
        <activity android:name="com.abhidev.Activities.WheelActivity" />
        <activity android:name="com.abhidev.Activities.Analysis.MotivationalQuotientSection" />
        <activity android:name="com.abhidev.HelpDesk.AffilateActivity" />
        <activity android:name="com.abhidev.HelpDesk.AuthencityActivity" />
        <activity android:name="com.abhidev.Activities.CareerLandingPage" />
        <activity android:name="com.abhidev.Activities.CategoryLandingPage" />
        <activity android:name="com.abhidev.HelpDesk.OrderCancellationActivity" />
        <activity android:name="com.abhidev.HelpDesk.OrderFAQActivity" />
        <activity android:name="com.abhidev.HelpDesk.OrderMyAccountActivity" />
        <activity android:name="com.abhidev.HelpDesk.OrderPaymentsActivity" />
        <activity android:name="com.abhidev.Activities.Analysis.InterstSection" />
        <activity android:name="com.abhidev.HelpDesk.OrderPlacementsActivity" />
        <activity android:name="com.abhidev.HelpDesk.OrderPrivacyActivity" />
        <activity android:name="com.abhidev.Activities.CategoryBasedFilters" />
        <activity android:name="com.abhidev.HelpDesk.OrderShippingActivity" />
        <activity android:name="com.abhidev.Activities.Analysis.AnalysisStatusActivity" />
        <activity android:name="com.abhidev.HelpDesk.OrderTermsActivity" />
        <activity android:name="com.abhidev.HelpDesk.ReferAFriend" />
        <activity android:name="com.abhidev.HelpDesk.RefundsActivity" />
        <activity android:name="com.abhidev.HelpDesk.RewardProgram" />
        <activity android:name="com.abhidev.Activities.Analysis.AbilitySection" />
        <activity android:name="com.abhidev.Activities.AptitudeActivity" />
        <activity android:name="com.abhidev.Activities.FiltersActivity" />
        <activity android:name="com.abhidev.Activities.WishlistActivity" />
        <activity android:name="com.abhidev.Activities.ForgotPasswordActivity" />
        <activity android:name="com.abhidev.Activities.PaymentsActivity" />
        <activity android:name="com.abhidev.Activities.PreferencesActivity" />
        <activity android:name="com.abhidev.Activities.VideosActivity" />
        <activity android:name="com.abhidev.Activities.SearchActivity" />
        <activity android:name="com.abhidev.Activities.SectionInfoActivity" />
        <activity android:name="com.abhidev.Activities.LoanActivity" />
        <activity android:name="com.abhidev.Activities.ForexActivity" />
        <activity android:name="com.abhidev.Activities.RandomizedFeedsActivity" />
        <activity android:name="com.abhidev.Activities.LottieActivity" />
        <activity android:name="com.abhidev.Activities.YantraClubActivity" />
        <activity android:name="com.abhidev.Activities.CareerProcessActivity" />
        <activity android:name="com.abhidev.Activities.BrainBoosterIntroScreen" />
        <activity android:name="com.abhidev.Activities.ChangePasswordActivity" />
        <activity android:name="com.abhidev.Activities.CategoryActivity" />
        <activity android:name="com.abhidev.Activities.AllCoursesActivity" />
        <activity android:name="com.abhidev.Activities.CareerActivity" />
        <activity android:name="com.abhidev.Activities.TedTalksActivity" />
        <activity android:name="com.abhidev.Activities.TrendingArticlesActivity" />
        <activity android:name="com.abhidev.Activities.EventsActivity" />
        <activity android:name="com.abhidev.Activities.Analysis.AnalysisBioDataSection" />
        <activity android:name="com.abhidev.Activities.Analysis.EmotionalIntelligenceSection" />
        <activity android:name="com.abhidev.Internships.RewardsNInternship" />
        <activity android:name="com.abhidev.Activities.Analysis.LoaderActivity" />
        <activity android:name="com.abhidev.Exams.Activities.ExamQuestionScreen" />
        <activity android:name="com.abhidev.assess.AssessmentSections"></activity>
    </application>

</manifest>