<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wireout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.MessageListActivity" />
        <activity android:name=".Activities.DialogFlowResultActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Analysis.AnalysisActivity" />
        <activity android:name=".Activities.CourseLandingPage" />
        <activity android:name=".Internships.InternshipListActivity" />
        <activity android:name=".Activities.DialogFlow" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.NotificationActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Exams.Activities.ExamsActivity" />
        <activity android:name=".Exams.Activities.ExamSubCategoryListActivity" />
        <activity android:name=".Activities.IntroActivity" />
        <activity android:name=".Activities.Recommendations" />
        <activity android:name=".Activities.ChatViewActivtity" />
        <activity android:name=".Activities.ExplanationActivityText" />

        <service android:name=".Activities.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activities.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.OptionsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.PrivacyActivity" />
        <activity android:name=".Exams.Activities.ExamInstructionActivity" />
        <activity android:name=".Exams.Activities.ExamResultActivity" />
        <activity android:name=".HelpDesk.HelpDeskActivity" />
        <activity android:name=".ViewMore.TrendingUniversitiesActivity" />
        <activity android:name=".Activities.TestActivity" />
        <activity android:name=".Exams.Activities.ExplanationActivity" />
        <activity android:name=".ViewMore.TrendingCoursesActivity" />
        <activity android:name=".ViewMore.ShortTermCoursesActivity" />
        <activity android:name=".ViewMore.AmbassdorsActivity" />
        <activity android:name=".Activities.StepperActivity" />
        <activity android:name=".GameBrainBooster.MainActivity" />
        <activity android:name=".GameBrainBooster.GameBoosterOver" />
        <activity android:name=".game2.FlexibilityGame" />
        <activity android:name=".GameBrainBooster.EndActivity" />
        <activity android:name=".GameBrainBooster.Levels.Level1Activity" />
        <activity android:name=".Activities.Analysis.YourEgogramSection" />
        <activity android:name=".GameBrainBooster.Levels.Level13Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level2Activity" />
        <activity android:name=".Activities.Analysis.SectionEndActivity" />
        <activity android:name=".assess.SectionSubCategoryListActivity"/>
        <activity android:name=".fourpicsoneword.VerbalAbilityGame" />
        <activity android:name=".fourpicsoneword.HintActivity" />
        <activity android:name=".game2.FlexibilityGameIntro" />
        <activity android:name=".assess.TestSeriesActivity" />
        <activity android:name=".Activities.Analysis.HandwritingSection" />
        <activity android:name=".Activities.Analysis.LifeChoicesSection" />
        <activity android:name=".Activities.Analysis.MeOrNotMeSection" />
        <activity android:name=".fourpicsoneword.VerbalAbilityIntroScreen" />
        <activity android:name=".Activities.WishlistFilterActivity" />
        <activity android:name=".mathGame.GameIntro" />
        <activity android:name=".mathGame.MathGame" />
        <activity android:name=".Activities.Analysis.DetailMenu"/>
        <activity android:name=".Activities.Analysis.CommSkillSection"/>
        <activity android:name=".Activities.Analysis.LogicalReasoningSection"/>
        <activity android:name=".Activities.CareerAssesmentStartActivity" />
        <activity android:name=".Activities.ExploreTagSearchActivity" />
        <activity android:name=".GameBrainBooster.Levels.Level9Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level3Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level4Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level10Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level5Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level6Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level11Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level7Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level12Activity" />
        <activity android:name=".GameBrainBooster.Levels.Level8Activity" />
        <activity android:name=".Activities.FrameworkIntroScreenActivity" />
        <activity android:name=".Activities.WheelActivity" />
        <activity android:name=".Activities.Analysis.MotivationalQuotientSection" />
        <activity android:name=".HelpDesk.AffilateActivity" />
        <activity android:name=".HelpDesk.AuthencityActivity" />
        <activity android:name=".Activities.CareerLandingPage" />
        <activity android:name=".Activities.CategoryLandingPage" />
        <activity android:name=".HelpDesk.OrderCancellationActivity" />
        <activity android:name=".HelpDesk.OrderFAQActivity" />
        <activity android:name=".HelpDesk.OrderMyAccountActivity" />
        <activity android:name=".HelpDesk.OrderPaymentsActivity" />
        <activity android:name=".Activities.Analysis.InterstSection" />
        <activity android:name=".HelpDesk.OrderPlacementsActivity" />
        <activity android:name=".HelpDesk.OrderPrivacyActivity" />
        <activity android:name=".Activities.CategoryBasedFilters" />
        <activity android:name=".HelpDesk.OrderShippingActivity" />
        <activity android:name=".Activities.Analysis.AnalysisStatusActivity" />
        <activity android:name=".HelpDesk.OrderTermsActivity" />
        <activity android:name=".HelpDesk.ReferAFriend" />
        <activity android:name=".HelpDesk.RefundsActivity" />
        <activity android:name=".HelpDesk.RewardProgram" />
        <activity android:name=".Activities.Analysis.AbilitySection" />
        <activity android:name=".Activities.AptitudeActivity" />
        <activity android:name=".Activities.FiltersActivity" />
        <activity android:name=".Activities.WishlistActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.PaymentsActivity" />
        <activity android:name=".Activities.PreferencesActivity" />
        <activity android:name=".Activities.VideosActivity" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.SectionInfoActivity" />
        <activity android:name=".Activities.LoanActivity" />
        <activity android:name=".Activities.ForexActivity" />
        <activity android:name=".Activities.RandomizedFeedsActivity" />
        <activity android:name=".Activities.LottieActivity" />
        <activity android:name=".Activities.YantraClubActivity" />
        <activity android:name=".Activities.CareerProcessActivity" />
        <activity android:name=".Activities.BrainBoosterIntroScreen" />
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity android:name=".Activities.CategoryActivity" />
        <activity android:name=".Activities.AllCoursesActivity" />
        <activity android:name=".Activities.CareerActivity" />
        <activity android:name=".Activities.TedTalksActivity" />
        <activity android:name=".Activities.TrendingArticlesActivity" />
        <activity android:name=".Activities.EventsActivity" />
        <activity android:name=".Activities.Analysis.AnalysisBioDataSection" />
        <activity android:name=".Activities.Analysis.EmotionalIntelligenceSection" />
        <activity android:name=".Internships.RewardsNInternship" />
        <activity android:name=".Activities.Analysis.LoaderActivity" />
        <activity android:name=".Exams.Activities.ExamQuestionScreen" />
        <activity android:name=".assess.AssessmentSections"></activity>
    </application>

</manifest>